form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
   
}
.data_input{
    margin-right: 20px;
}

table {
    margin: 50px auto;
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid #000;
}
th, td{
    padding: 5px;
}

.buttons{
    width: 20%;
    display: flex;
    justify-content: center;
 
}

button{
    border: 1px solid yellow;
    background-color: yellowgreen
}